.profile-area {
  position: absolute;
  top: 25px;
  right: 50px;
  display: flex;
  max-width: 342px;
  max-height: 70pxpx;
  justify-content: flex-end;
  z-index: 10001;
  overflow: visible;
}

.profile-container {
  width: 342px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.profile-name {
  font-size: 32px;
  font-weight: 800;
  color: #1f1f1f;
  transition: color 0.2s;
}

.profile-container:hover .profile-name {
  color: #444df2;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.profile-arrow {
  width: 30px;
  height: 30px;
  color: #1f1f1f;
  transition: color 0.2s;
}

.profile-container:hover .profile-arrow {
  color: #444df2;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 110px;
  max-width: 282px;
  width: 100%;
  max-height: 182px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 30px 0px 30px 30px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 99999;
  pointer-events: auto;
}

.profile-dropdown-item {
  display: block;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s;

  &:first-child {
    margin: 16px 24px 8px;
    width: calc(100% - 48px);
    padding: 14px 24px;
    font-size: 20px;
    font-weight: 600;
    color: #1f1f1f;
    background: #ffffff;
    border-radius: 999px;

    &:hover {
      color: #444df2;
      background-color: #eceefe;
    }
  }

  &:last-child {
    margin: 8px 24px 24px;
    width: calc(100% - 48px);
    padding: 14px 24px;
    font-size: 20px;
    font-weight: 600;
    color: #1f1f1f;
    background: #ffffff;
    border-radius: 999px;

    &:hover {
      color: #444df2;
      background-color: #eceefe;
    }
  }
}
